# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env
.env.*

# Python distribution
build/
dist/
*.egg-info/

# Logs
*.log

# IDE files
.vscode/
.idea/

# Mac / Linux system files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Database
*.sqlite3

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
